<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Appendix E</title>
  <link rel="stylesheet" href="/css/installation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .t{
        text-decoration: none;
        background-color: #e5e5e5;
        color: black;
    }

     .t:hover  {
        color: black;
         text-decoration: none;
    }
</style>

<body>

<a href="http://127.0.0.1:9292/"><button class="btn"> <i class="fa fa-home"></i></button></a>
<a href="http://127.0.0.1:9292/reports/offices/installation" class="btn t">&#8249;</a>
<div class="container">

  <div class='row'>
    <div class="col-sm-4">
      <div class='logo'>
        <div class="title">LOGO</div>
      </div>
    </div>
    <div class="col-sm-8">
      <h2><%= @office["title"] %></h2>
      <h5><%= "#{@office["state"]}, #{@office["address"]}, #{@office["phone"]}, #{@office["type"]}" %></h5>
      <h5>Total Area: <%= @count["area"] %></h5>
      <h5>Total Max People:  <%= @count["max_people"] %></h5>
    </div>
  </div>

  <br>
  <br>

  <h1>Installation Instructions</h1>

  <div class="row">

    <% @data_by_office.each do |zone, rooms| %>

      <div class="col">
        <h3><%= zone %></h3>
      </div>

      <div class="w-100 d-none d-md-block"></div>


      <!-- room 1 line -->
      <% rooms.each do |room, materials| %>
        <div class="col-1">
        </div>
        <div class="col-11">
          <h4><%= room %></h4>
        </div>

        <div class="w-100 d-none d-md-block"></div>

        <% materials.each do |material| %>
          <!-- row line 1 -->
          <div class="col-1">
          </div>
          <div class="col-4">
            <div class="center">
              <%= material["m_name"] %></div>
          </div>
          <div class="col-3">
            <div class="center">
              <%= material["m_type"] %></div>
          </div>
          <div class="col-2">
            <div class="center">
              <%= material["f_name"] %></div>
          </div>
          <div class="col-2">
            <div class="center">
              <%= material["f_type"] %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>


</div>


</body>

</html>
